*{
    margin: 0;
    padding: 0;
}
ul{
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
    padding: 20px;
    flex-wrap: wrap;
    border-radius: 50px;
    
}

li {
    font-weight: bold;
    padding-top: 10px;
    list-style-type: none;
    
}
ul li a{
    color: white;
    text-decoration: none;    
}
li :hover{
    border-bottom: 1px solid #fff;
}
button{
    padding: 10px;
    background-color: rgb(180, 211, 193);
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    border-style: none;
}
button:hover{

}
    
    

